<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				<!-- classpath*:/context-provider.xml,  -->
				classpath*:/context-main.xml,
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	 <!-- FreeMarker view servlet (to replace JSP) -->
	  <servlet>
	    <servlet-name>freemarker</servlet-name>
	    <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
	    
	    <!-- FreemarkerServlet settings: -->
	    <init-param>
	      <param-name>TemplatePath</param-name>
	      <param-value>/</param-value>
	    </init-param>
	    <init-param>
	      <param-name>NoCache</param-name>
	      <param-value>true</param-value>
	    </init-param>
	    <init-param>
	      <param-name>ContentType</param-name>
	      <param-value>text/html</param-value>
	    </init-param>
	    
	    <!-- FreeMarker settings: -->
	    <init-param>
	      <param-name>incompatible_improvements</param-name>
	      <param-value>2.3.21</param-value>
	    </init-param>
	    <init-param>
	      <param-name>template_exception_handler</param-name>
	      <!-- Some may prefer "html_debug" for development. -->
	      <param-value>rethrow</param-value>
	    </init-param>
	    <init-param>
	      <param-name>template_update_delay</param-name>
	      <!-- 0 is for development only! Use higher value otherwise. -->
	      <param-value>0</param-value>
	    </init-param>
	    <init-param>
	      <param-name>default_encoding</param-name>
	      <param-value>UTF-8</param-value>
	    </init-param>
	    <init-param>
	      <param-name>locale</param-name>
	      <param-value>en_US</param-value>
	    </init-param>
	    <init-param>
	      <param-name>number_format</param-name>
	      <param-value>0.####</param-value>
	    </init-param>
	    
	    <load-on-startup>1</load-on-startup>
	  </servlet>


	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/views/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/views/error/405.jsp</location>
	</error-page>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>